html, body {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkorange;
    color: white;
  }
  
h1, h2, h3, h4, h5 {
    font-size: 35px;
    margin-bottom: 3px;
    font-family: 'Rubik', sans-serif;
  }

.minilogo {
    width: 8%;
    height: 8%;
  }

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.7rem 4rem 2rem 4rem;
    background-color: deepskyblue;
    text-decoration: none;
  }

.aboutFT h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }

.aboutFT p {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 1.5%;
    padding: 10px;
  }

.theteam {
  display: flex;
  justify-content: center;
  font-size: 27px;
  margin-top: 3%;
  margin-bottom: 2%;
}

.ashley {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.ashley img {
  justify-content: center;
  border-radius: 45%;
  width: 200px;
  margin-bottom: 1rem;
}


