html, body {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkorange;
    color: white;
  }

  @media (max-width: 500px) {
    
  }
  
h1, h2, h3, h4, h5 {
    font-size: 35px;
    margin-bottom: 3px;
    font-family: 'Rubik', sans-serif;
  }

.minilogo {
    width: 8%;
    height: 8%;
  }

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.7rem 4rem 2rem 4rem;
    background-color: deepskyblue;
    text-decoration: none;
  }

.aboutFT h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
    color: #C71585;
  }

.aboutFT p {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 1.5%;
    padding: 10px;
  }

.theteam {
  display: flex;
  justify-content: center;
  font-size: 27px;
  margin-top: 3%;
  margin-bottom: 2%;
  color: #C71585;
}

h2 {
  display:flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
  color: #2E4053;
}

.ashley {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #0E6655;
}

.ashley img {
  justify-content: center;
  border-radius: 45%;
  width: 200px;
  margin-bottom: 1rem;
}

.frontenddevs {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.frontenddevs img {
  justify-content: center;
  border-radius: 45%;
  width: 250px;
  margin-bottom: 1rem;
}

.frontenddevs .Brian {
  border-radius: 65%;
  width: 230px;
}

.frontenddevs .Kirsten,
.frontenddevs .Natividad,
.frontenddevs .Mark,
.frontenddevs .Brian {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #0E6655;
}

.backenddev {
  display: flex;
  justify-content: center;
}

.backenddev img {
  justify-content: center;
  border-radius: 45%;
  width: 250px;
  margin-bottom: 1rem;
}

.backenddev .Amber {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #0E6655;
}

.projectlead {
  display: flex;
  justify-content: center;
}

.projectlead img {
  justify-content: center;
  border-radius: 45%;
  width: 250px;
  margin-bottom: 1rem;
}

.projectlead .Pedro {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #0E6655;
}

.copyright {
  color: black;
  font-size: 20px;
  border-top: 2px solid #663399;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.copyright p {
  margin-top: 2%;
}