html, body {
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: darkorange;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-size: 35px;
  margin-bottom: 3px;
  font-family: 'Rubik', sans-serif;
}

@media (max-width: 500px) {
 h1, h2, h3 {
    font-size: 22px;
  }
}

.minilogo {
    width: 8%;
    height: 8%;
  }

@media (max-width: 500px) {
  .minilogo {
    width: 30%;
    height: 30%;
  }
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.7rem 4rem 2rem 4rem;
    background-color: deepskyblue;
    text-decoration: none;
  }

  @media (max-width: 500px) {
    header nav {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-decoration: none;
      padding: 8px;
      margin: 0 1rem 0 1rem;
    }
  }

.topcontent {
    margin: 3rem 3rem;
  }

.foodhead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #C71585;
  }

  @media (max-width: 500px) {
    .foodhead {
      display: flex;
      justify-content: flex-start;
    }
  }
  
.topcontent p {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 1.5%;
  }

@media (max-width: 500px) {
  .topcontent p {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 16px;
    left: -30px;
  }
}

.large {
    width: 95%;
    height: 700px;
    margin-left: 2rem;
    padding: 10px;
  }

@media (max-width: 500px) {
  .large {
    width: 45vw;
    height: 200px;
    position: relative;
  }
}

.middlecontent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-size: 21px;
    margin: 2.8rem;
    padding: 1.2rem;
  }

@media (max-width: 500px) {
  .middlecontent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: -60px;
  }
}

@media (max-width: 500px) {
  .middlecontent p {
    font-size: 16px;
  }
}

  .middlecontent h2 {
    color: #2E4053;
  }

.bottompics {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 5rem 0 5rem 0;
  }

@media (max-width: 500px) {
  .bottompics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45vw;
  }
}

.appeats {
    text-align: center;
    margin: 2%;
    font-size: 21px;
  }

@media (max-width: 500px) {
  .appeats {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
}

.appeats .appeatspic {
    position: relative;
    bottom: 1rem;
    width: 18rem;
  }

@media (max-width: 500px) {
  .appeats .appeatspic {
    position: relative;
  }
}

  .appeats h3 {
    color: #2E4053;
  }

@media (max-width: 500px) {
  .appeats h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.copyright {
    color: black;
    font-size: 20px;
    border-top: 2px solid #663399;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
  }

@media (max-width: 500px) {
  .copyright {
    font-size: 15px;
  }
}

.copyright p {
    margin-top: 2%;
  }