body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .minilogo {
    width: 8%;
    height: 8%;
  }

  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.7rem 4rem 2rem 4rem;
  }

  .topcontent {
    margin: 4rem 4rem;
  }

  .topcontent button {
    border: none;
    border-radius: 4px;
    background-color: darkorange;
    color: #C71585;
    cursor: pointer;
    margin: 35px auto 25px auto;
    padding: 1.5px 28px;
    font-size: 2rem;
  }

