html, body {
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: darkorange;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-size: 35px;
  margin-bottom: 3px;
  font-family: 'Rubik', sans-serif;
}

.minilogo {
    width: 8%;
    height: 8%;
  }

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.7rem 4rem 2rem 4rem;
    background-color: deepskyblue;
    text-decoration: none;
  }

.topcontent {
    margin: 3rem 3rem;
  }

.foodhead {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
.topcontent p {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 1.5%;
  }

.large {
    width: 95%;
    height: 700px;
    margin-left: 2rem;
    padding: 10px;
  }

.middlecontent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-size: 21px;
    margin: 2.8rem;
    padding: 1.2rem;
  }

.bottompics {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 8rem 0 8rem 0;
  }

.appeats {
    text-align: center;
    margin: 2%;
  }

.appeats .appeatspic {
    position: relative;
    bottom: 1rem;
    width: 18rem;
  }

.copyright {
    color: black;
    font-size: 20px;
    border-top: 2px solid #663399;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
  }

.copyright p {
    margin-top: 2%;
  }